*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
html{
  font-size: 65.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #e0e5eb;
}
strong{
  color: green;
}
.alert-design{
  /* position: absolute; */
  font-size: 14px;
  background-color: rgb(123, 221, 139);
  box-sizing: border-box;
  padding: 0px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  height:30px;
  border:1px solid grey;
  }
  
h3{
  color:rgb(10, 10, 46);
  font-size: 16px;
}
textarea{
  box-sizing: border-box;
  width:20%;
  background-color: aquamarine;
  margin: 20px 0px;
  border-radius: 2px;
  padding:10px 10px;
box-shadow: 0px 0px 4px black;
}


.yellows{
  background-color: rgb(170, 170, 9);
 }
 .oranges{
  background-color: rgb(179, 50, 41);
 }
 .greens{
  background-color: rgb(80, 129, 80);
 }
 .reds{
  background-color: rgb(163, 84, 84);
 }
 .whites{
  background-color: rgb(192, 176, 176);
 }
 .blues{
  background-color: rgb(42, 42, 97);
 }
.orange{
  background-color: rgb(197, 72, 26);
  box-shadow: 0px 0px 4px black;
  height:20px;
  width:20px;
  cursor: pointer;
  border-radius: 3px;
}
.yellow{
  background-color: rgb(170, 170, 9);
  height:20px;
  width:20px;
  cursor: pointer;
  box-shadow: 0px 0px 4px black;
  border-radius: 3px;
}
.green{
  background-color: rgb(39, 129, 39);
  box-shadow: 0px 0px 4px black;
  height:20px;
  cursor: pointer;
  width:20px;
  border-radius: 3px;
}
.blue{
  background-color: rgb(42, 42, 97);
  box-shadow: 0px 0px 4px black;
  height:20px;
  cursor: pointer;
  width:20px;
  border-radius: 3px;
}
.red{
  background-color: rgb(163, 84, 84);
  box-shadow: 0px 0px 4px black;
  height:20px;
  cursor: pointer;
  width:20px;
  border-radius: 3px;
}
.white{
  background-color: rgb(192, 176, 176);
  box-shadow: 0px 0px 4px black;
  height:20px;
  width:20px;
  cursor: pointer;
  border-radius: 3px;
}
p{
  font-size: 16px;
  color:black;
}
.center-cont{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color:red;
  text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
}
.center-cont span{
  font-size: 20px;
  color:black;
  /* border:2px solid black; */
  padding: 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 1px rgba(10,99,169,0.16),
              -10px -10px 10px -1px rgba(255,255,255,0.70);
}
.bat-set{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:300px;
}
.cards{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding:30px 40px;
  margin:30px 40px;
  border-radius: 20px;
  /* border: 2px solid black; */
  box-shadow: 10px 10px 10px 1px rgba(10,99,169,0.16),
              -10px -10px 10px -1px rgba(255,255,255,0.70);
}
.spac{
  padding:0px 20px;
}
a{
  text-decoration: none;
  font-size: 14px;
}
.cards img{
  width:300px;
}
.ul-left{
  list-style-type: none;
  display:flex;
  flex-direction: row;
}
.ul-right{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  cursor: pointer;
}
.nav-set{
  display: flex;
  width: 100%;
  position: absolute;
  padding:10px;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  font-size: 18px;
  flex-direction: row;
  background-color: #ebeef1;
  box-shadow: 10px 10px 10px 1px rgba(10,99,169,0.16),
              -10px -10px 10px -1px rgba(255,255,255,0.70);
}
li{
  margin: 0px 10px;
}
.dark{
  background-color: black;
  color:white;
}
.light{
  background-color: white;
  color:black;
}

.app1{
padding:20px;
}
button{
  font-size: 20px;
  font-weight: 500;
  padding:10px;
  margin:30px;
  width:200px;
  background: #ebeef1;
  cursor: pointer;
  border: none;
  color:red;
  border-radius: 50px;
  box-shadow: 10px 10px 10px 1px rgba(10,99,169,0.16),
              -10px -10px 10px -1px rgba(255,255,255,0.70);
}
button.rejected{
  box-shadow: 10px 10px 10px 1px rgba(10,99,169,0.16),
              -10px -10px 10px -1px rgba(255,255,255,0.70);
}
button.reject{
  color: green;
  box-shadow: inset 10px 10px 10px 1px rgba(10,99,169,0.16),
             inset -10px -10px 10px -1px rgba(255,255,255,0.70);

}
.app2{
padding:20px;
}
.App{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
